# SQL Server Ayarları
SQL_PASSWORD=SedatCnr_2026!

# JWT Ayarları (En az 32 karakter olmalı)
JWT_SECRET_KEY=BuCokGizliVeUzunBirKeyOlmalidirEnAz32Karakter

# Admin Seed Ayarları
SEED_ADMIN_EMAIL=admin@kayraexport.com
SEED_ADMIN_PASSWORD=AdminPassword123!

# RabbitMQ Ayarları (İlerisi için şimdiden dursun)
RABBITMQ_USER=guest
RABBITMQ_PASS=guest